{% load static %}
<html >
<head>
   <title>Газоблок</title>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">
</head>
<body>
 <div class="shell">
	<div class="border">

		<div class="topnav">
  <a class="" href="/">Главнвя</a>
  <a class="active" href="#">{{ post.title|truncatechars:10 }} </a>
  <a href="/dostavka">Доставка</a>
      </div>

		<div id="main">
   			<div id="content" class="left">

      			<div class="projects">
         			   <p style="font-size: 30px; color: blue; text-align: center;"> {{ post.title }} </p>
         			   <br>
                  <p align="center">
                    <img src="{{ post.img.url }}" width="50%"/>
                  </p>
         			<div class="item">
						<div class="text-left">
               				<p style="font-family: verdana; font-size: 28px; font-align: center">{{ post.description }}</p>
               				<p>тел. 050-020-36-91</p>
            			</div>
            			<div class="cl"> </div>
         			</div>
     			 </div>
   			</div>
			<div>
				<a href="{% url 'add_likes' post.id %}">Нравится {{ post.likes_set.all.count }}</a>

			</div>
			<div class="form-comment">
				<p style="font-size: 30px; text-align: center">Оформить заказ</p>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div>
							<label>Ваш комментарий к заказу:</label>
							<textarea name="text_comment"></textarea>
						</div>
						<div>
							<label><p style="font-size:30px;">Ваше имя *</p></label>
							<input type="text" name="name">
						</div>
						<div>
							<label><p style="font-size:30px;">Ваш email *</p></label>
							<input type="email" name="email">
						</div>
						<div>
							<label><p style="font-size:30px;">Ваш телефон *</p></label>
							<input type="text" name="telefon">
						</div>
						<div><button type="submit"><p style="font-size:30px;">Отправиь</p></button></div>
					</form>
				</div>
			</div>
			<div>

				<div class="view-comment">
					<h4></h4>
					<p>

					</p>
				</div>

			</div>


			<div class="cl"> </div>
		</div>

	</div>
</div>

</body>
</html>