{% load static %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Барахолка:)</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">

</head>

<body>
 <div class="topnav">
  <a class="active" href="#home">Главная
  <a href="/dostavka">Доставка</a>
    <a href="#contact"style="color:red">тел. 050-020-36-91</a>
    <a href="/admin" id="loginLink">login</a>
 </div>

<div class="row">
  <div class="leftcolumn">
    {% for post in post_list %}
    <div class="card">
      <h1><a href="{{ post.id }}" style="color:green">{{ post.title }}</a></h1>
      <div class="description">
      <div class="fakeimg">
        <img src="{{ post.img.url }}"/>
      </div>
        <p><h2><a href="{{ post.id }}">{{ post.description|truncatechars:150 }}</a></h2></p>
      </div>
      <div class="views">
        {{ post.views }}
        <img src="/media/aice.png"/>
      </div>
      <p><a href="" style="color:red"> цена <h1>{{ post.author }}</h1></a></p>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>