{% load static %}
<html >
<head>
    <title>ShopTorg - Поставщик Стройматериалов (Березань)</title>
     <meta description="Поставщик Стройматериалов (Березань)"><meta property="og:type" content="website"/>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <meta name="google-site-verification" content="lkpjCYkRU5UyHErb1NYbJafXQVyPsMY-WWwvwYHqfg8" />
   <title>ShopTorg - Поставщик Стройматериалов (Березань)</title>
   <meta property="og:url" content="https://shoptorg.pythonanywhere.com"/>
   <meta property="og:title" content="ShopTorg Строй материалы"/><meta property="og:description" content="Поставщик Стройматериалов (Березань)"/>
   <meta name="keywords" content="магазин стройматериалов, Березань, область Борисполь, яготин, Киев, дешево, доставка, аэрок, Березань, Борисполь, яготин, ShopTorg: Бетонний блок, Цегла, Керамічний блок, Газобетонний блок, строй материалы, Будівельні суміші, Шпаклівка, Штукатурка, Цемент, Гіпсокартон, Металлопрокат, проф настил, есть доставка, ШЛАКОБЛОК ,БАЗАЛЬТОВАЯ ВАТА, Профіль для гіпсокартону, Покрівля, металочерепиця, Доставка по всей Украине, Украина доставка ">
   <meta property="og:title" content="Ціна на Газоблоки, Піноблок, Газобетон у Ровенську зону аерок Обухів Березань: продаж, ціна в Києві. блоки стінові від; Soptorg: газобетон і газоблок за оптовою ціною"/>
            <meta property="og:description" content="Ціна на Газоблоки, Піноблок, Газобетон у Рівній зоні аерок аерок Обухов Березань. Докладна інформація про товар/заслуг і постачальник. Ціна та умови постачання"/>


	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
 <div class="topnav">
  <a href="/">Главная</a>
     <a class="active" href="/dostavka">Доставка</a>
  <a href="/dostavka" class="center" style="color:red;">тел. 050-999-99-99</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <div class="description">

        <img src="/media/dostavka.jpg" width="400px" height="300px"/>

          <h1> <p>
              Для того чтобы купить с доставкой стройматериалы,
              позвоните нам по номеру телефону указанным на сайте.
              Можно доставить стеновые материалы кирпич, пеноблок,
              газоблок, шлакоблок манипулятором или бортовыми машинами под ручную выгрузку.
              Доставка осуществляется в удобное для клиента время.
          </p></a></h1>

      <p>{{ post.description }}</p>
      </div>
    </div>
  </div>

</div>

</body>
</html>